.node {

    &.websiteNode {
        background: rgb(179, 246, 186);
        box-shadow: 0 0 5px rgb(160, 102, 210); //to match collection nodes, adds purple glow/shadow around node
    }

    &.selected {
        //purple border to indicate node is selected
        border: 5px solid rgba(191, 58, 221);
    }

    iframe {
        position: relative;
        width: 100%;
        bottom: 0;

        //reminder: find a way to make the height match resizing if possible, perhaps a script or setting?
    }
}