.node {
    &.collectionNode {
        background: rgb(243, 186, 133);
        height: 100%;
        
        
    }
    .freeformcanvas {
        position: absolute;
        top: 0;
        left: 0;
        
    }
    &.selected {
        border: 5px solid rgba(191, 58, 221);

    }
}




