.node {
    &.textNode {
        background: pink;
    }

    &.selected {
       border: 5px solid rgba(191, 58, 221);
    }
}

//sets the default size for the title to be larger (it fits better in my opinion)
.title .ql-editor {
  font-size: 20px;
  font-weight: 600;
}

.text .ql-editor {
  font-size: 16px;
}