.node {

    &.videoNode {
        background: lightblue;
        box-shadow: 0 0 5px rgb(160, 102, 210); //to match collection nodes, adds purple glow/shadow around node
    }

    &.selected {
        //purple border to indicate node is selected
        border: 5px solid rgba(191, 58, 221);
    }

    video {
        width: 100%;
    }
}