
.resizehandle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  cursor: nwse-resize;
  //make it look like you can resize - indicator
  touch-action: none;
  z-index: 10;
  
}