.node {
    &.freeCollectionText {
        background:transparent;
        height: 100%;
        position: relative;
        height: auto;

        box-shadow: 0 0 5px rgb(160, 102, 210); //to make it visible when theres collection nodes inside collection nodes
    }
    
    &.selected {
        //purple border to indicate node is selected
        border: 5px solid rgba(191, 58, 221);

    }

    &.treecanvas {
        position: absolute;
        top: 0;
        left: 0;
        
    }
}




