.AddNodeButton {
    padding: 10px;
    position: relative;
    background-color: rgb(155, 198, 212);
    width: 200px;
    height: 60px; 
    z-index: 1000; //otherwise shows up behind the nodes and is unable to be interacted with - FIND ANOTHER OWRK AROUND 
    border-radius: 30px; //rounded button
    border: none;
    
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    box-shadow: 0 0 10px grey;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
        background-color: rgb(108, 159, 176);
    }

    &:active {
        background-color: rgb(80, 130, 150);
        transform: scale(0.98); 
    }
}

//maybe add a menu bar for stuff