html,
body {
    background-color: rgb(233, 216, 236);
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Hind Siliguri', sans-serif;
    overscroll-behavior-x: none;
}

.header {
    width: 100%;
    height: 25px;
}

.App {
    position: relative;
    width: 100%;
    height: 100vh;
}

.scroll-box {
    overflow-y: scroll;
    height: calc(100% - 70px);
}

