.MenuBarButton {
    padding: 8x;
    position: relative;
    background-color: rgb(155, 125, 183);
    width: 117px;
    height: 60px; 
    z-index: 1000; //otherwise shows up behind the nodes and is unable to be interacted with - FIND ANOTHER OWRK AROUND 
    border-radius: 30px; //rounded button
    border: none;
    
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    box-shadow: 0 0 9px grey;
    margin-left: 8px;
    margin-top: 10px;
    cursor: pointer;

    white-space: nowrap;
   

    &:hover {
        background-color: rgb(126, 96, 155);
    }

    &:active {
        background-color: rgb(88, 53, 121);
        transform: scale(0.98); 
    }
}

