.node {
    &.imageText {
      background-color: transparent;
      position:relative;
      
        color: rgb(87, 17, 145); // make text purple but visible
        box-shadow: 0 0 5px rgb(160, 102, 210); //to match collection nodes, adds purple glow/shadow around node
    }

    &.selected {
        //purple border to indicate node is selected
       border: 5px solid rgba(191, 58, 221);
    }
    

}

//sets the default size for the title to be larger (it fits better in my opinion)
.titleImage {
  display: flex;
  text-align:center;
  justify-content: left;
  line-height: 0px;
}
